.wrap {
  width: 100%;
  .slide {
    position: fixed;
    ul {
      width: 180px;
      line-height: 40px;
      font-size: 18px;
      li {
        text-align: center;
        cursor: pointer;
        color: #fff;
        font-weight: 500;
      }
    }
  }
  .blog {
    padding-left: 181px;
    box-sizing: border-box;
  }
}
